<div class="banner mt-5" style="background-image: url(assets/img/resume-banner-bg.svg)">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-7">
        <div class="d-flex build-now flex-column ">
          <h2>How to write Cover letter to
            pair with your Resume</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam,</p>
          <h4>Try LOREM IPSUM. <br>
            Pick from FREE Cover letter Templates</h4>
          <div class="mt-4">
            <button class="btn text-uppercase">BUILD MY Cover letter NOW</button>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <img class="img-fluid" src="assets/img/c-banner-svg.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="what-is-cover-letter">
  <div class="container p-5">
    <h2 class="text-center mb-4">What is a Cover Letter?</h2>
    <p class="lead">
      A resume is a formal document that a job applicant creates to itemize his or her
      qualifications for a position.
    </p>
    <p class="lead">
      A resume is usually accompanied by a customized cover letter in which the applicant
      expresses an interest in a specific job or company and draws attention to the most relevant
      specifics on the resume.
    </p>
  </div>
</div>
<div class="writing-a-cover-letter" style="background-image: url(assets/img/writing-a-resume-bg.svg);">
  <div class="container pt-5 px-5 text-white text-center">
    <h2 class="text-center mb-4">Writing a Cover Letter</h2>
    <img class="img-fluid" src="assets/img/writing-a-cover-letter.jpg" alt="Writing a Resume">
  </div>
</div>

<div class="browse">
  <div class="container p-5">
    <h2 class="font-weight-bold">Struggling to write a perfect Cover Letter,
      Browse our professional templates</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Ut enim ad minim veniam,
    </p>
    <h3>Cover Letter</h3>
    <h5>Experienced</h5>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <div class="browse-bow pb-3 px-3 position-relative">
          <h5 class="font-weight-bold">Lorem Ipsum</h5>
          <p>quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea</p>
          <img class="img-fluid" src="assets/img/resume1.png" alt="resume">
          <div class="hover position-absolute h-100 w-100 row flex-column justify-content-center align-items-center">
            <button class="btn">Preview</button>
            <button class="btn mt-3">Use template</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="browse-bow pb-3 px-3 position-relative">
          <h5 class="font-weight-bold">Lorem Ipsum</h5>
          <p>quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea</p>
          <img class="img-fluid" src="assets/img/resume1.png" alt="resume">
          <div class="hover position-absolute h-100 w-100 row flex-column justify-content-center align-items-center">
            <button class="btn">Preview</button>
            <button class="btn mt-3">Use template</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="browse-bow pb-3 px-3 position-relative">
          <h5 class="font-weight-bold">Lorem Ipsum</h5>
          <p>quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea</p>
          <img class="img-fluid" src="assets/img/resume1.png" alt="resume">
          <div class="hover position-absolute h-100 w-100 row flex-column justify-content-center align-items-center">
            <button class="btn">Preview</button>
            <button class="btn mt-3">Use template</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="browse-bow pb-3 px-3 position-relative">
          <h5 class="font-weight-bold">Lorem Ipsum</h5>
          <p>quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea</p>
          <img class="img-fluid" src="assets/img/resume1.png" alt="resume">
          <div class="hover position-absolute h-100 w-100 row flex-column justify-content-center align-items-center">
            <button class="btn">Preview</button>
            <button class="btn mt-3">Use template</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <button class="btn">View all templates</button>
    </div>
  </div>
</div>

<div class="why-us" style="background-image: url(assets/img/writing-a-resume-bg.svg);">
  <div class="container p-5">
    <h2 class="font-weight-bold text-center">Why choose us? </h2>
    <div class="row">
      <div class="col-md-6 p-5">
        <ul class="p-0">
          <li>
            <h3>Lorem Ipsum Dolor </h3>
            <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur .</p>
          </li>
          <li>
            <h3>Lorem Ipsum Dolor </h3>
            <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur .</p>
          </li>
          <li>
            <h3>Lorem Ipsum Dolor </h3>
            <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur .</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6 p-5">
        <img src="assets/img/why-us-coverletter.png" class="img-fluid" alt="choose us">
      </div>
    </div>
  </div>
</div>
<div class="experts">
  <div class="container p-5">
    <h2 class="font-weight-bold text-center text-white">What Experts say about us </h2>
    <div class="row">
      <owl-carousel-o>
        <ng-template carouselSlide>Slide 1</ng-template>
        <ng-template carouselSlide>Slide 2</ng-template>
        <ng-template carouselSlide>Slide 3</ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
<div class="faq">
  <div class="container p-5">
    <h2 class="font-weight-bold text-center">FAQs about Cover Letters</h2>
    <div class="row mt-5">
      <div class="col-md-6 pb-3">
        <h5>What should I include on my cover letter? </h5>
        <p>Everyone’s cover letter will include different things due to varying work experience
          and qualifications. However, if you’re wondering what to put on your cover letter,
          there are some basic requirements that you should include.</p>
        <p>At a minimum, cover letters must have the following standard components: </p>
        <ul>
          <li>Contact information</li>
          <li> cover letter introduction</li>
          <li> cover letter education section</li>
          <li> Work experience</li>
          <li> Relevant cover letter skills & certifications</li>
        </ul>
      </div>
      <div class="col-md-6 pb-3">
        <h5>What should I include on my cover letter? </h5>
        <p>Everyone’s cover letter will include different things due to varying work experience
          and qualifications. However, if you’re wondering what to put on your cover letter,
          there are some basic requirements that you should include.</p>
        <p>At a minimum, cover letters must have the following standard components: </p>
        <ul>
          <li>Contact information</li>
          <li> cover letter introduction</li>
          <li> cover letter education section</li>
          <li> Work experience</li>
          <li> Relevant cover letter skills & certifications</li>
        </ul>
      </div>
      <div class="col-md-6 pb-3">
        <h5>What should I include on my cover letter? </h5>
        <p>Everyone’s cover letter will include different things due to varying work experience
          and qualifications. However, if you’re wondering what to put on your cover letter,
          there are some basic requirements that you should include.</p>
        <p>At a minimum, cover letters must have the following standard components: </p>
        <ul>
          <li>Contact information</li>
          <li> cover letter introduction</li>
          <li> cover letter education section</li>
          <li> Work experience</li>
          <li> Relevant cover letter skills & certifications</li>
        </ul>
      </div>
      <div class="col-md-6 pb-3">
        <h5>What should I include on my cover letter? </h5>
        <p>Everyone’s cover letter will include different things due to varying work experience
          and qualifications. However, if you’re wondering what to put on your cover letter,
          there are some basic requirements that you should include.</p>
        <p>At a minimum, cover letters must have the following standard components: </p>
        <ul>
          <li>Contact information</li>
          <li> cover letter introduction</li>
          <li> cover letter education section</li>
          <li> Work experience</li>
          <li> Relevant cover letter skills & certifications</li>
        </ul>
      </div>

    </div>
  </div>
</div>
<div class="confused" style="background-image: url(assets/img/browse-ex-bg.svg);">
  <div class="container p-5 text-white text-center">
    <h2 class="font-weight-bold ">Never settle for less than perfect </h2>
    <p class="text-center">Explore what other professionals put in their cover letters </p>
    <button class="btn m-3">Browse Cover Letter Examples </button>
  </div>
</div>
<div class="faq-list">
  <div class="container pb-5 px-5">
    <h2>FAQs about Templates </h2>
    <div class="list shadow p-3">
      <div id="accordionExample">
        <div>
          <div id="headingOne">
            <h6 class=" font-weight-bold">
              <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              </span>
            </h6>
          </div>
          <div id="collapseOne" class="collapse" data-parent="#accordionExample">
            <div class="">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div>
          <div id="headingTwo">
            <h6 class=" font-weight-bold">
              <span data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              </span>
            </h6>
          </div>
          <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
            <div class="">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div>
          <div id="headingThree">
            <h6 class=" font-weight-bold">
              <span data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                aria-controls="collapseThree">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              </span>
            </h6>
          </div>
          <div id="collapseThree" class="collapse" data-parent="#accordionExample">
            <div class="">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
