<div class="footer text-white p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#" style="color: #0ba; border: 1px solid; height: 40px; width: 40px;"> RB </a>
      </div>
      <div class="col-md-3">
        <h3> Product</h3>
        <ul>
          <li>
            <a [routerLink]="['/about-us']"> About us</a>
          </li>
          <li>
            <a href="#"> Ipsum ipsum</a>
          </li>
          <li>
            <a href="#"> Kipsum</a>
          </li>
          <li>
            <a href="#"> Ipsum ipsum</a>
          </li>
          <li>
            <a href="#"> Youausum</a>
          </li>
          <li>
            <a href="#"> Ipsusum</a>
          </li>

        </ul>
      </div>
      <div class="col-md-3">
        <h3> Resources</h3>
        <ul>
          <li>
            <a href="#"> Emoth</a>
          </li>
          <li>
            <a href="#"> Ipsum ipsum</a>
          </li>
          <li>
            <a href="#"> Kipsum</a>
          </li>
          <li>
            <a href="#"> Ipsum ipsum</a>
          </li>
          <li>
            <a href="#"> Youausum</a>
          </li>
          <li>
            <a href="#"> Ipsusum</a>
          </li>

        </ul>
      </div>
      <div class="col-md-3">
        <h3> Company</h3>
        <ul>
          <li>
            <a href="#"> Emoth</a>
          </li>
          <li>
            <a href="#"> Ipsum ipsum</a>
          </li>
          <li>
            <a href="#"> Kipsum</a>
          </li>
          <li>
            <a href="#"> Ipsum ipsum</a>
          </li>
          <li>
            <a href="#"> Youausum</a>
          </li>
          <li>
            <a href="#"> Ipsusum</a>
          </li>

        </ul>
      </div>

    </div>
  </div>
</div>

<footer class="pb-5 text-white">

  <div class="container">

    <div class="clearfix">
      <div class="float-right">
        <div class="row">
          <div class="col">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
          <div class="col">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
          <div class="col">
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <div class="col">
            <a href="#">
              <i class="fa fa-envelope"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
