<div class="banner mt-5" style="background-image: url(assets/img/pricing-banner.jpg)">
  <div class="container p-5">
    <div class="row my-5">
      <div class="col-md-4">
        <div class="card shadow bg-light h-100">
          <div class="px-5 pb-5">
            <h2 class="h4 text-center my-5">Free Account</h2>
            <div class="card p-5 d-flex justify-content-center align-items-center display-3 shadow">₹0</div>
          </div>
          <div class="px-4 pb-5">
            <div class="font-weight-bold free-para">
              <div class="row">
                <div class="col-2"> <i class="fa fa-check" aria-hidden="true"></i> </div>
                <div class="col-10">
                  <p>Free download</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2"> <i class="fa fa-check" aria-hidden="true"></i> </div>
                <div class="col-10">
                  <p>Choose from basic resume templates</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2"> <i class="fa fa-check" aria-hidden="true"></i> </div>
                <div class="col-10">
                  <p>1 Resume Limit</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2"> <i class="fa fa-check" aria-hidden="true"></i> </div>
                <div class="col-10">
                  <p>One-page Resume</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card shadow bg-prime h-100">
          <div class="px-5 pb-5">
            <h2 class="h4 text-center my-5 text-white">Premium Account</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="card p-2 d-flex justify-content-center align-items-center flex-column shadow">
                  <h5>1 Month</h5>
                  <p class="h3">₹XXX</p>
                  <button class="btn btn-sm btn-info mt-3">Upgrade to premium</button>
                </div>
              </div>
              <div class="col-md-4">
                <div class="d-flex justify-content-center">
                  <div class="position-absolute most-popular p-1 font-weight-bold">Most Popular</div>
                </div>
                <div class="card p-2 d-flex justify-content-center align-items-center flex-column shadow">
                  <h5>3 Months</h5>
                  <p class="h3">₹XXX</p>
                  <button class="btn btn-sm btn-info mt-3">Upgrade to premium</button>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card p-2 d-flex justify-content-center align-items-center flex-column shadow">
                  <h5>12 Months</h5>
                  <p class="h3">₹XXX</p>
                  <button class="btn btn-sm btn-info mt-3">Upgrade to premium</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="p-5">
                  <div class="font-weight-bold text-white">
                    <div class="row">
                      <div class="col-2"> <i class="fa fa-check" aria-hidden="true"></i> </div>
                      <div class="col-10">
                        <p>Lorem lorem</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2"> <i class="fa fa-check" aria-hidden="true"></i> </div>
                      <div class="col-10">
                        <p>Lorem lorem</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2"> <i class="fa fa-check" aria-hidden="true"></i> </div>
                      <div class="col-10">
                        <p>Lorem lorem</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2"> <i class="fa fa-check" aria-hidden="true"></i> </div>
                      <div class="col-10">
                        <p>Lorem lorem</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="p-5">
                  <div class="font-weight-bold text-white">
                    <div class="row">
                      <div class="col-2"> <i class="fa fa-check" aria-hidden="true"></i> </div>
                      <div class="col-10">
                        <p>Lorem lorem</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2"> <i class="fa fa-check" aria-hidden="true"></i> </div>
                      <div class="col-10">
                        <p>Lorem lorem</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2"> <i class="fa fa-check" aria-hidden="true"></i> </div>
                      <div class="col-10">
                        <p>Lorem lorem</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2"> <i class="fa fa-check" aria-hidden="true"></i> </div>
                      <div class="col-10">
                        <p>Lorem lorem</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="users-love bg-light">
  <div class="container p-5">
    <h2 class="text-center mb-4">Why our users love us </h2>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="slide">
          <div class="row">
            <div class="col-md-8 p-5">
              <p class="lead h5"> No information overload. It was dead simple. </p>
              <p>Carlos </p>
            </div>
            <div class="col-md-4 p-5">
              <img src="https://timesofindia.indiatimes.com/thumb/msid-72085636,width-1200,height-900,resizemode-4/.jpg" class="img-fluid rounded border">
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <div class="row">
            <div class="col-md-8 p-5">
              <p class="lead h5"> To be honest, they really have eye catching and elegant designs. I happy about my
                purchase </p>
              <p>Tanaz </p>
            </div>
            <div class="col-md-4 p-5">
              <img src="https://timesofindia.indiatimes.com/thumb/msid-72085636,width-1200,height-900,resizemode-4/.jpg" class="img-fluid rounded border">
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <div class="row">
            <div class="col-md-8 p-5">
              <p class="lead h5"> Your blogs really helped me being a fresher. Also your support always answered my
                queries on time. Thank you very much. </p>
              <p>Nikki </p>
            </div>
            <div class="col-md-4 p-5">
              <img src="https://timesofindia.indiatimes.com/thumb/msid-72085636,width-1200,height-900,resizemode-4/.jpg" class="img-fluid rounded border">
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
<div class="faq-list" style="background-image: url(assets/img/faq-pricing-bg.svg)">
  <div class="container p-5">
    <h2 class="text-white my-3">FAQs about Templates </h2>
    <div class="list shadow p-3 bg-light">
      <div id="accordionExample">
        <div class="display-4 bg-danger text-center" *ngIf="!internet">
          <i class="fa fa-exclamation-circle"></i> No internet
        </div>
        <div class="display-4 bg-warning text-center" *ngIf="!faqsList && internet">Loading...</div>
        <div class="p-2 border-bottom border-light" *ngFor="let item of faqsList; index as i;">
          <div id="heading{{i}}">
            <h6 class="font-weight-bold m-0" data-toggle="collapse" [attr.data-target]="'#collapse' + i">
              {{item.question}} <i class="fa fa-angle-down float-right"></i>
            </h6>
          </div>
          <div id="collapse{{i}}" class="collapse" data-parent="#accordionExample">
            <div class="">{{item.answer}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
