<div class="banner mt-5" style="background-image: url(assets/img/resume-banner-bg.svg)">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-7">
        <div class="d-flex build-now flex-column ">
          <h2 class="h1">Explore 500+ Professional Resume Examples</h2>
          <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
          <div class="mt-4">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search by job title or category">
              <div class="input-group-append">
                <button class="btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <img class="img-fluid" src="assets/img/res-eg-banner-svg.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="resumes">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
      <div class="col-md-4 border-right">
        <h4 class="color-1b8 mt-3"> All Resume Examples</h4>
        <h4 class="mt-3"> Accounting & Finance</h4>
        <h4 class="mt-3">Business Analysis</h4>
        <h4 class="mt-3"> Data Science</h4>
        <h4 class="mt-3"> Design</h4>
        <h4 class="mt-3"> Engineering</h4>
        <h4 class="mt-3"> Executive & Management</h4>
        <h4 class="mt-3"> Food Service </h4>
        <h4 class="mt-3"> Engineering</h4>
        <h4 class="mt-3"> Data Science</h4>
        <h4 class="mt-3"> Design</h4>
        <h4 class="mt-3"> Engineering</h4>
        <h4 class="mt-3"> Emergency Services </h4>
        <h4 class="mt-3"> Engineering</h4>

      </div>
      <div class="col-md-8">
        <div class="mt-3 res-grp">
          <h4> All Resume Examples</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          <div class="row">
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-12 mt-3">
              <button class="btn">SEE MORE </button>
            </div>
          </div>
        </div>
        <div class="mt-5 res-grp">
          <h4> Accounting & Finance </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          <div class="row">
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-12 mt-3">
              <button class="btn">SEE MORE </button>
            </div>
          </div>
        </div>
        <div class="mt-5 res-grp">
          <h4> Business Analysis</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          <div class="row">
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-12 mt-3">
              <button class="btn">SEE MORE </button>
            </div>
          </div>
        </div>
        <div class="mt-5 res-grp">
          <h4> Data Science </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          <div class="row">
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-12 mt-3">
              <button class="btn">SEE MORE </button>
            </div>
          </div>
        </div>
        <div class="mt-5 res-grp">
          <h4> Warehousing</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          <div class="row">
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-3">
              <h6>LOREM EXAMPLE </h6>
              <img src="https://printcv.s3.us-east-2.amazonaws.com/Template1-min.png" class="img-fluid">
              <p class="text-center my-2">Hired at </p>
              <h6 class="text-center ">LOREM IPSUM</h6>
            </div>
            <div class="col-md-12 mt-3">
              <button class="btn">SEE MORE </button>
            </div>
          </div>
        </div>

        <div class="mt-5 d-flex justify-content-center">
          <button type="button" class="btn btn-outline-secondary" disabled>Previous</button>
          <button type="button" class="btn btn-outline-secondary ml-3 color-1b8">Next</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="today" style="background-image: url(assets/img/jobready-res-bg.svg);">
  <div class="container p-5 text-white text-center">
    <h2 class="font-weight-bold ">Build your job-ready Resume today </h2>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
    <button class="btn m-3">Get Started Now </button>
  </div>
</div>
