<!-- <button (click)="toggle()">toggle</button>
<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
    <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div> -->


<div class="banner mt-5">
  <div class="container p-5">
    <div class="d-flex align-items-center flex-column text-center">
      <h2>The Resume Builder that helps You to Stand Out</h2>
      <p class="banner-para">Craft your perfect CV with Print CV. Preparing a CV can be a time consuming and may lead to
        information overload for some candidates. Don’t lose your way. Print CV helps you create amazing CV’s and cover
        letters which will help you get hired.</p>
      <button class="banner-btn">BUILD MY RESUME NOW</button>
    </div>
  </div>
  <div class="container resume-animation">
    <div class="row">
      <div class="col-md-4 px-5 py-2">
        <div class="green px-4 py-3">
          <label for="usr">Just type your name</label>
          <input type="text" class="form-control" value="Elizabeth Rodrerg" disabled>
          <p class="mt-3 mb-1">Preview it on ready-to-use template</p>
          <img class="img-fluid " src="assets/img/gb-pic.png" alt="resume">
        </div>
        <div class="red mt-3 px-4 py-3">
          <label for="usr">Write your professional summary</label>
          <input type="text" class="form-control" value="Lorem ipsum dolor" disabled>
          <p class="mt-3 mb-1">Customize font, size, color, background color</p>
          <img class="img-fluid " src="assets/img/rb-pic.png" alt="resume">
        </div>
      </div>
      <div class="col-md-4">
        <img class="img-fluid img-resume" src="assets/img/banner-image-01.jpg" alt="resume">
      </div>
      <div class="col-md-4 p-5 d-flex align-items-center ">
        <div class="yellow px-4 py-3">
          <label for="usr">Enter Education details</label>
          <input type="text" class="form-control" value="2000-2004" disabled>
          <p class="mt-3 mb-1">Get them in a professional layout </p>
          <img class="img-fluid " src="assets/img/yb-pic.png" alt="resume">
        </div>
      </div>
    </div>
  </div>
  <div class="container featured py-4">
    <div class="row">
      <div class="col-md-2">
        As Featured in:
      </div>
      <div class="col-md-2">
        <button>magna </button>
      </div>
      <div class="col-md-2">
        <button>Ipsum </button>
      </div>
      <div class="col-md-2">
        <button>magna </button>
      </div>
      <div class="col-md-2">
        <button>enim </button>
      </div>
      <div class="col-md-2">
        <button>Ipsum </button>
      </div>
    </div>
  </div>
</div>
<div class="effort">
  <div class="container pt-5">
    <div class="d-flex align-items-center flex-column text-center">
      <h2>Effortlessly create your CV in less than 5 minutes </h2>
    </div>
    <div class="row mt-3">
      <div class="col-md-3 px-2 caption">
        <div class="h-50 px-2 overflow-hidden">
          <h4 class="p-2 h-100 active"> 100,000+ templates to choose from</h4>
        </div>
        <div class="h-50 px-2 overflow-hidden">
          <h4 class="p-2 h-100"> Flat Pricing. No hidden prices.</h4>
        </div>
      </div>
      <div class="col-md-6 center-box p-1">
        <div class="bg-white rounded">
          <div class="row">
            <div class="col">
              <video class="w-100" src="assets/video.mp4" autoplay loop></video>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 px-2 caption">
        <div class="h-50 px-2 overflow-hidden">
          <h4 class="p-2 h-100"> Easy to use. World’s simplest resume builder.</h4>
        </div>
        <div class="h-50 px-2 overflow-hidden">
          <h4 class="p-2 h-100"> One of its kind CV suggestion tool.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="resume-slide p-5">
  <div class="container">
    <div class="d-flex align-items-center flex-column text-center">
      <h2>Pick one of the best, <br> ready-to-use professional template</h2>
      <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
    </div>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide p-4">
        <img src="assets/img/banner-image-01.jpg" class="img-fluid rounded border">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide p-4">
        <img src="assets/img/banner-image-01.jpg" class="img-fluid rounded border">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide p-4">
        <img src="assets/img/banner-image-01.jpg" class="img-fluid rounded border">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide p-4">
        <img src="assets/img/banner-image-01.jpg" class="img-fluid rounded border">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide p-4">
        <img src="assets/img/banner-image-01.jpg" class="img-fluid rounded border">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide p-4">
        <img src="assets/img/banner-image-01.jpg" class="img-fluid rounded border">
      </div>
    </ng-template>
  </owl-carousel-o>
  <div class="container rangeslider mb-3">
    <div class="row text-white">
      <div class="col">
        <h3 class="text-center">
          MODERN
        </h3>
      </div>
      <div class="col">
      </div>
      <div class="col">
        <h3 class="text-center">
          CLASSIC
        </h3>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <button class="btn btn-light shadow font-weight-bolder">Select Template</button>
    </div>
  </div>
</div>
<div class="started p-5 d-flex align-items-center flex-column text-white"
  style="background-image: url(assets/img/writing-a-resume-bg.svg);">
  <h1>Templates that make you stand</h1>
  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
  <div class="container ">
    <div class="row py-5">
      <div class="col-md-6">
        <p class="text-right"> Created by using:</p>
      </div>
      <div class="col-md-6">
        <h2> LOREM IPSUM</h2>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button class="banner-btn">GET STARTED</button>
    </div>
  </div>
</div>

<div class="benefits p-5">
  <h2 class="text-center">Benefits of Print CV.</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row pt-5 px-5">
          <div class="col-md-2 border d-flex align-items-center justify-content-center">
            <i class="fa fa-trophy" aria-hidden="true"></i>
          </div>
          <div class="col-md-10">
            <h4> Sell yourself on CV. </h4>
            <p>A well designed CV is nearly half battle won. You need outstanding templates and cover letters so as to
              striking first impression. </p>
          </div>
        </div>
        <div class="row pt-5 px-5">
          <div class="col-md-2 border d-flex align-items-center justify-content-center">
            <i class="fa fa-gitlab" aria-hidden="true"></i>
          </div>
          <div class="col-md-10">
            <h4> Grab Attention </h4>
            <p>Let us face the fact that recruiter’s get only 90 seconds to screen your application. You need to make an
              impact with an impeccably well designed CV and a cover letter.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row pt-5 px-5">
          <div class="col-md-2 border d-flex align-items-center justify-content-center">
            <i class="fa fa-sign-language" aria-hidden="true"></i>
          </div>
          <div class="col-md-10">
            <h4>No Information overload </h4>
            <p>Don’t try to reinvent a wheel on something which is so well designed and made by the recruiters
              themselves. </p>
          </div>
        </div>
        <div class="row pt-5 px-5">
          <div class="col-md-2 border d-flex align-items-center justify-content-center">
            <i class="fa fa-simplybuilt" aria-hidden="true"></i>
          </div>
          <div class="col-md-10">
            <h4> Don’t miss the KISS </h4>
            <p>Keep it Simple Silly is the order of the day. We really understand this. Print CV is elegant yet simple
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="calc text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center pt-5">
        <img class="img-fluid" src="assets/img/jobseeker.svg" alt="jobseeker">
        <h2>500,000+</h2>
        <p>Job Seekers</p>
      </div>
      <div class="col-md-4 text-center pt-5">
        <img class="img-fluid" src="assets/img/template.svg" alt="jobseeker">
        <h2>10,000+</h2>
        <p>Templates</p>
      </div>
      <div class="col-md-4 text-center pt-5">
        <img class="img-fluid" src="assets/img/faster-job.svg" alt="jobseeker">
        <h2>60%</h2>
        <p>chances to get hired faster</p>
      </div>
    </div>
  </div>
</div>


<div class="how-works p-5">
  <owl-carousel-o [options]="worksOptions">
    <ng-template carouselSlide dotContent="1">
      <div class="slide p-2">
        <div class="d-flex align-items-center flex-column text-white">
          <h2 class="mb-3">How it works</h2>
          <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          <h4 class="my-3">
            No matter what your experience level is simply browse through templates and cover letters.
          </h4>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide dotContent="2">
      <div class="slide p-2">
        <div class="d-flex align-items-center flex-column text-white">
          <h2 class="mb-3">How it works</h2>
          <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          <h4 class="my-3">
            Use smart CV writing suggestion tools.
          </h4>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide dotContent="3">
      <div class="slide p-2">
        <div class="d-flex align-items-center flex-column text-white">
          <h2 class="mb-3">How it works</h2>
          <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          <h4 class="my-3">
            Edit your CV or Cover letter. Pay and Download.
          </h4>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
