<div class="banner">
    <div class="container p-5">
        <div class="d-flex build-now flex-column ">
            <h2>Job-ready Professional Resume Templates</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam,</p>
            <h4>Try LOREM IPSUM. <br>
                Pick from FREE Resume Templates</h4>
            <div class="mt-4">
                <button class="btn btn-light shadow">BUILD MY RESUME NOW</button>
            </div>
        </div>
    </div>
</div>

<div class="what-is-resume">
    <div class="container p-5">
        <h2 class="text-center mb-4">What is a Resume?</h2>
        <p class="lead">
            A resume is a formal document that a job applicant creates to itemize his or her
            qualifications for a position.
        </p>
        <p class="lead">
            A resume is usually accompanied by a customized cover letter in which the applicant
            expresses an interest in a specific job or company and draws attention to the most relevant
            specifics on the resume.
        </p>
    </div>
</div>


<div class="writing-a-resume">
    <div class="container p-5 text-white text-center">
        <h2 class="text-center mb-4">Writing a Resume</h2>
        <img src="assets/img/our-resume.png" alt="">
    </div>
</div>

<div class="browse">
    <div class="container p-5">
        <h2 class="mb-4">Browse our templates, and make the best
            resume for you</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam,
        </p>

    </div>
</div>